body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 30px;
}

h1 {
  text-align: center;
}

#userList {
  max-width: 600px;
  margin: auto;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  padding: 15px;
  margin: 10px 0;

  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.available {
  color: green;
  font-weight: bold;
}

.unavailable {
  color: red;
  font-weight: bold;
}